# FRONTEND
APP_ENV=PRODUCTION
NEXT_PUBLIC_BACKEND_URL="https://xxxx.codersforcauses.org/api"


# BACKEND
APP_NAME=DjangoAPI
API_SECRET_KEY= CHANGE THIS TO A RANDOM STRING
API_ALLOWED_HOSTS=".localhost 127.0.0.1 [::1] .codersforcauses.org"

POSTGRES_HOST=db
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

DJANGO_SUPERUSER_PASSWORD= CHANGE THIS TO A RANDOM STRING
DJANGO_SUPERUSER_EMAIL= CHANGE THIS TO A VALID EMAIL
DJANGO_SUPERUSER_USERNAME= CHANGE THIS TO A VALID USERNAME

FRONTEND_URL="https://xxxx.codersforcauses.org/"

# KEYCLOAK
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_MANAGEMENT_PORT=9000
KEYCLOAK_IMPORT_REALM_ON_STARTUP=false

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD= CHANGE THIS TO A RANDOM STRING
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://db:5432/postgres
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=password
KC_HOSTNAME=auth.example.com
KC_HTTP_ENABLED=true
KC_PROXY_HEADERS=xforwarded
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true

KEYCLOAK_BASE_URL=https://auth.example.com
KEYCLOAK_REALM=agronomy-club
KEYCLOAK_ISSUER=https://auth.example.com/realms/agronomy-club
KEYCLOAK_JWKS_URL=https://auth.example.com/realms/agronomy-club/protocol/openid-connect/certs
KEYCLOAK_AUTH_URL=https://auth.example.com/realms/agronomy-club/protocol/openid-connect/auth
KEYCLOAK_TOKEN_URL=https://auth.example.com/realms/agronomy-club/protocol/openid-connect/token
KEYCLOAK_USERINFO_URL=https://auth.example.com/realms/agronomy-club/protocol/openid-connect/userinfo

DJANGO_OIDC_CLIENT_ID=django-admin
DJANGO_OIDC_CLIENT_SECRET= CHANGE THIS TO A RANDOM STRING
FIRST_PLATFORM_ADMIN_USERNAME=admin
FIRST_PLATFORM_ADMIN_EMAIL=admin@example.com
FIRST_PLATFORM_ADMIN_PASSWORD= CHANGE THIS TO A RANDOM STRING
FIRST_DJANGO_ADMIN_USERNAME=admin
FIRST_DJANGO_ADMIN_EMAIL=admin@example.com
FIRST_DJANGO_ADMIN_PASSWORD= CHANGE THIS TO A RANDOM STRING
FIRST_KEYCLOAK_ADMIN_USERNAME=admin
FIRST_KEYCLOAK_ADMIN_PASSWORD= CHANGE THIS TO A RANDOM STRING
KEYCLOAK_SYNC_EFFECTIVE_ROLES=true
KEYCLOAK_ADMIN_REALM=master
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD= CHANGE THIS TO A RANDOM STRING
KEYCLOAK_TEST_ADMIN_EMAIL=admin@example.com
KEYCLOAK_TEST_ADMIN_USERNAME=admin
KEYCLOAK_TEST_ADMIN_PASSWORD= CHANGE THIS TO A RANDOM STRING
NEXT_PUBLIC_KEYCLOAK_URL=https://auth.example.com
NEXT_PUBLIC_KEYCLOAK_REALM=agronomy-club
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=agronomy-web
