APP_NAME=DjangoAPI

APP_ENV=DEVELOPMENT
API_SECRET_KEY="supersecretkey"
API_ALLOWED_HOSTS=".localhost 127.0.0.1 [::1]"

POSTGRES_HOST=localhost
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

DJANGO_SUPERUSER_PASSWORD=Password123
DJANGO_SUPERUSER_EMAIL=admin@test.com
DJANGO_SUPERUSER_USERNAME=admin

FRONTEND_URL="http://localhost:3000"

AUTH_SOURCE=local
ENABLE_LOCAL_ADMIN_FALLBACK=true

KEYCLOAK_BASE_URL="http://localhost:8080"
KEYCLOAK_REALM="agronomy-club"
KEYCLOAK_ISSUER="http://localhost:8080/realms/agronomy-club"
KEYCLOAK_JWKS_URL="http://localhost:8080/realms/agronomy-club/protocol/openid-connect/certs"
KEYCLOAK_AUTH_URL="http://localhost:8080/realms/agronomy-club/protocol/openid-connect/auth"
KEYCLOAK_TOKEN_URL="http://localhost:8080/realms/agronomy-club/protocol/openid-connect/token"
KEYCLOAK_USERINFO_URL="http://localhost:8080/realms/agronomy-club/protocol/openid-connect/userinfo"
DJANGO_OIDC_CLIENT_ID="django-admin"
DJANGO_OIDC_CLIENT_SECRET="CHANGE_ME"
FIRST_PLATFORM_ADMIN_USERNAME="admin"
FIRST_PLATFORM_ADMIN_EMAIL="admin@example.com"
FIRST_PLATFORM_ADMIN_PASSWORD="ChangeMePlatformAdmin#2026"
FIRST_DJANGO_ADMIN_USERNAME="admin"
FIRST_DJANGO_ADMIN_EMAIL="admin@example.com"
FIRST_DJANGO_ADMIN_PASSWORD="ChangeMePlatformAdmin#2026"
FIRST_KEYCLOAK_ADMIN_USERNAME="admin"
FIRST_KEYCLOAK_ADMIN_PASSWORD="ChangeMePlatformAdmin#2026"
KEYCLOAK_SYNC_EFFECTIVE_ROLES=true
KEYCLOAK_ADMIN_REALM="master"
KEYCLOAK_ADMIN_CLIENT_ID="admin-cli"
KEYCLOAK_ADMIN_CLIENT_SECRET=""
KEYCLOAK_ADMIN_USERNAME="admin"
KEYCLOAK_ADMIN_PASSWORD="ChangeMePlatformAdmin#2026"
KEYCLOAK_TEST_ADMIN_EMAIL="admin@example.com"
KEYCLOAK_TEST_ADMIN_USERNAME="admin"
KEYCLOAK_TEST_ADMIN_PASSWORD="ChangeMePlatformAdmin#2026"